@import 'variables.less';
@import 'mixins.less';
@import 'layout.less';
@import 'typography.less';
@import 'form-elements.less';
@import 'navbar.less';
@import 'panels.less';
@import 'tabs.less';
@import 'tables.less';
@import 'modals.less';
@import 'progress-bars.less';
@import 'misc.less';
@import 'widgets.less';
@import 'widgets-three.less';
@import 'widgets-one.less';
@import 'widgets-two.less';
@import 'sidebar.less';
@import 'socialite-vivek.less';
@import 'timeline.less';
@import 'timeline-rtl.less';
@import 'socialite-suresh.less';
@import 'socialite-geetha.less';
@import 'flag-icon.less';
@import 'socialite.less';
//@import 'main-landing.less';

//@import '../css/styleOld.less';

html, body, body *:not(i):not(span) {
  //font-family: 'Lucida Grande', sans-serif!important;
  font-family: 'Source Sans Pro', sans-serif!important;
  //font-family: 'PT Sans', sans-serif!important;
  //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-transform: none!important;
}

*, .timeline-list > ul li.active a {
  //transition: all linear .3s!important;
  -webkit-transition: all linear .3s!important;
  -moz-transition: all linear .3s!important;
  -ms-transition: all linear .3s!important;
  -o-transition: all linear .3s!important;
  transition: all linear .3s!important;
}

.ufo {
  width: 150px;
  z-index: 9999;
}
.ufo div {
  margin-top: 10px;
  background: #00A8FFaa;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
}

.round-mark {
  border: 1px solid #E6EAEE;
  color: #5B6B81;
  text-align: center;
  border-radius: 3px;
  padding-bottom: 10px;

  h4 {
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
  }
}

.user-avatar img, .commenter-avatar img, .media img {
  border-radius: 50%!important;
}

.repost {
  border-left: 3px solid #eee; padding-left: 20px;
}

.row {
  margin-right: -5px!important;
  margin-left: -5px!important;}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 5px!important;
  padding-left: 5px!important;
}

.panel {
  margin-bottom: 10px!important;
}

.user-bio-block, .widget-pictures {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

//body, html {
//  height: 100%;
//  background: #0e0e15;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  text-align: center;
//}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

@keyframes auto-progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.progress-bar {
  background-color: #5b6b81;
  height: 30px;
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  position: relative;
}

.progress-bar {
  .clock, .clock-static, .progress-bar-text {
    position: absolute;
    z-index: 111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
}

.stripes {
  background-size: 30px 30px;
  background-image: linear-gradient(
          135deg,
          rgba(255, 255, 255, .15) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .15) 50%,
          rgba(255, 255, 255, .15) 75%,
          transparent 75%,
          transparent
  );
}

.stripes.animated {
  animation: animate-stripes 0.6s linear infinite;
}

.stripes.animated.slower {
  animation-duration: 3.25s;
}

.stripes.reverse {
  animation-direction: reverse;
}

.progress-bar-inner {
  display: block;
  height: 31px;
  width: 10%;
  background-color: #34c2e3;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  position: relative;
  //animation: auto-progress 10s infinite linear;
}

.btn.btn-success,
.btn.btn-info,
.btn.btn-warning,
.btn.btn-danger {
  background-image: none;
  border: none;
}

.btn.btn-success {
  background-color: #64c787;
}

.btn.btn-info {
  background-color: #34c2e3;
}

.tf-tree img {
  border-radius: 50%;
}

.vam {
  vertical-align: middle;
}

/*
 * surfing styles
 */

.surfing-link {
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  background: #d9edf7;
  border: 1px solid #bce8f1;
  h3, p {
    margin: 0;
    span {
      font-size: 14px;
      color: #a1a1a1;
    }

    &:first-letter {
      //text-transform: uppercase;
    }
  }

  h3 {
    line-height: normal!important;
  }

  p {
    color: #31708f;
  }

  &.vip {
    background: #C4F6CB;
    border: 1px solid #8EC695;
  }
  &.vip-2 {
    background: #f5e8ff;
    border: 1px solid #d395ff;
  }

  .fa-clock {
    color: #0da3e2;
  }
  .fa-money {
    color: #35aa47;
  }
  .fa-crown {
    color: #ffbc20;
  }
  .surfing-link-play {
    text-align: center;
    padding-top: 20px;
    span {
      font-size: 10px;
      color: #878787;
    }
    i {
      cursor: pointer;
    }
  }
  h4 {
    font-size: 16px;
    color: #565656;
    margin-top: 0;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  background: #fff8;
  i, img, span {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mark-info-table {
  text-align: center;
  font-size: 14px;
  color: #71787E;
  line-height: 24px;
  & > div {
    margin-bottom: 10px;
    //div:nth-child(2) {
    //  //text-align: left;
    //  font-weight: bold;
    //}
    & > div:hover {
      background: #eee;
    }
  }
}

.my-tooltip {
  background: #1d94ea!important;
  border: 1px solid #1d94ea!important;
  font-size: 15px!important;
  color: #fff!important;
  border-radius: 5px!important;
  box-shadow: none!important;
}

.tree-profit {
  color: #43bf86;
  font-size: 15px;
  font-weight: bold;
}

.tf-tree {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
}

.mark-main-info {
  border: 1px solid #E6EAEE;
  color: #5B6B81;
  text-align: center;
  border-radius: 3px;
  background: #fafbfc;

  h4 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  p {
    margin-bottom: 0;
    font-size: 18px;
  }

}

.btn-camera-cover {
  width: auto!important;
}

.menu-list i.fa {
  width: 20px!important;
  height: 20px!important;
  padding-right: 0!important;
  margin-right: 10px!important;
}

.chat-box .chat-conversation .message-conversation.current-user .media {
  direction: ltr!important;
}

.post-text {
  padding-left: 7px!important;
  padding-right: 7px!important;
  border-radius: 100px!important;
}

.current-user  {
  .post-text {
    background: #1d94ea!important;
    color: #fff!important;
    border: 1px solid #3fa1e8!important;
  }
  .media-left {
    float: right;
  }
}

.custom-noty {
  background: #eee!important;
}

.table > tbody > tr > td {
  font-weight: 400;
}